@font-face {
    font-family: "Bodoni";
    src: url(../font/BOD_R.TTF);
}

:root {
    --gold: #ccaf6b;
}

body {
    background-color: #000000;
    color: #fff;
    font-family: "Bodoni", serif;
    font-size: 18px;
    letter-spacing: 2px;
}

a {
    transition: all .4s ease;
    color: var(--gold);
    text-decoration: none;
}

a:hover {
    opacity: 0.7;
}

h2 {
    font-size: 38px;
}

h4 {
    font-size: 18px;
    font-weight: 300;
}

h5 {
    font-weight: 300;
    font-size: 16px;
    margin: 0;
}

p {
    font-weight: 300;
    font-size: 16px;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 40px 40px;
}

.header {
    padding: 0 40px;
    height: 70px;
    justify-content: space-between;
    border-bottom: 1px solid #ffffff;
    background-color: #000000;
}

.input-container {
    position: relative;
    display: flex;
}

.search {
    padding-right: 150px;
    padding-bottom: 10px;
}

.form_input {
    border: none;
    background-color: #000;
    border-bottom: 1px solid #fff;
    width: 350px;
    padding: 5px 10px;
    padding-right: 40px;
}

.form_input::placeholder {
    color: #000;
}

.form_input:focus {
    all: unset;
    border: none;
    background-color: #000;
    width: 350px;
    padding: 5px 10px;
    border-bottom: 1px solid #ffffff;
}

.form_input, textarea {
    color: #ffffff;
}

.btnforsearch {
    position: absolute;
    left: 96%;
    background-color: #000000;
    top: 26%;
    background: url(../img/search.png);
    border: none;
    width: 20px;
    height: 20px;
}

.forsearch {
    position: relative;
}

.search-popup {
    position: absolute;
    top: 100%;
    right: 0;
    width: 250px;
    z-index: 1000;
    padding: 10px;
    margin-right: 92px;
    margin-top: 20px;
}

.form_input {
    padding: 5px;
    flex: 1;
}

.catalog {

}

.rev-head {
    font-size: 27px;
    text-align: center;
    padding-bottom: 40px;
}

.sidebar {
    min-width: 260px;
    margin-right: 80px;
}

.category-option {
    position: relative;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-size: 14px;
}

.category-option input[type="checkbox"] {
    display: none;
}

.category-option label {
    position: relative;
    padding-left: 30px;
    padding-top: 2px;
    cursor: pointer;
    color: #ffffff;
}

.category-option label::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-color: #000000;
    border: 3px solid #ffffff;
    border-radius: 3px;
}

.category-option input[type="checkbox"]:checked + label::before {
    background-color: #ffffff;
}

.category-name {
    width: 200px;
}

.category-len {
    padding-left: 40px;
}

.price-range {
    margin-bottom: 20px;
}

.size-head, .category-head {
    margin-top: 40px;
    margin-bottom: 15px;
}

.price-head {
    margin-bottom: 15px;
}

input[type="number"] {
    width: 120px;
    border: none;
    background-color: #000;
    padding-left: 20px;
    padding-bottom: 5px;
    color: #ffffff;
    outline: none;
    border-bottom: 2px solid #ffffff;
    transition: border-color 0.3s;
    -webkit-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin 0;
}
.sidebar h4 {
    font-weight: 600;
}

.card-container {
    gap: 30px;
}

.card {
    width: 240px;
    height: 460px;
    background: #000000;
    color: #ffffff;
    text-transform: uppercase;
}

.card img {
    width: 240px;
    height: 350px;
}

.card-info {
    padding-top: 15px;
}

.detail-img {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    max-height: 800px;
    margin: 0 auto;
}

.detail-image {
    width: 100%;
    height: auto;
    max-height: 800px;
}
.image-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

.prev-btn, .next-btn {
    background-color: #00000010;
    border: none;
    cursor: pointer;
    font-size: 24px;
    padding: 10px;
    color: #000000;
}

.detail-description {
    margin: 40px 0 0 20px;
}
.item-desc {
    font-size: 22px;
    max-width: 700px;
    margin-top: 30px;
}

.sizes-list {
    padding: 0;
}

.size-name {
    width: 60px;
    height: 40px;
    background-color: #000000;
    border: 1px solid #323232;
    transition: all .4s ease;
    color: #ffffff;
    cursor: pointer;
}

.detail-price {
    font-size: 24px;
}

.default-btn {
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    background-color: #000;
    color: #ffffff;
    transition: all .4s ease;
    cursor: pointer;
}

.detail-selected {
    border: 1px solid #ffffff !important;   /* белая рамка */
    background-color: rgba(255, 255, 255, 0.12); /* лёгкий белый фон */
    color: #ffffff;
}

.default-btn:hover {
    opacity: 0.7;
    border-color: #ffffff;
    background-color: rgba(255, 255, 255, 0.08);
}

.size-name:hover {
    opacity: 0.7;
    border-color: #ffffff;        /* белая рамка при наведении */
    background-color: rgba(255, 255, 255, 0.08);
}

.card-on-catalog {
    color: #ffffff;
}

.table-head {
    border-bottom: 1px solid #fff;
}

.table-p {
    background-color: #000000;
    color: #ffffff;
    text-align: right;
}

.c-item-img img {
    width: 70px;
    height: 100px;
}

.cart-item {
    border-bottom: 1px solid #fff;
    padding: 40px 0 40px 20px;
}

.c-item-total, .c-item-price, .c-item-quantity {
    width: 120px;
}

.right-side-items {
    text-align: right;
}

.c-quantity-form input{
    width: 70px;
    border-bottom: 1px solid #fff;
    height: 35px;
    color: #fff;
}